<!DOCTYPE html>
<html>
    <head>
        <title>User-Signup</title>
        <style type="text/css">
            .error {
                color: red;
            }
            form {
                background-color: #eee;
                padding: 20px;
                margin: 0 auto;
                width: 540px;
                font: 16px sans-serif;
                border-radius: 10px;
            }
        </style>
    </head>
    <body>


        {% block content %}
        {% endblock %}

    </body>
</html>